SUPABASE_URL=https://aeypkqpeiysisnwiqyrn.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFleXBrcXBlaXlzaXNud2lxeXJuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTMwNDQxMzUsImV4cCI6MjA2ODYyMDEzNX0.Mp8NkLvAgbrGi2zc_Oq34KRGej72zLKc6l6CYDhgvx8
ALLOWED_ORIGINS=https://n5atau-ve.myshopify.com
